{define title}Kontaktní formulář{/define}
{define description}Kontaktní formulář{/define}
{block content}
<p>Kontaktujte nás prostřednictvím formuláře níže</p>
{* formulář pro kontakt *}
{control contactForm}