# Konfigurační soubor pro CoreModule.

parameters:

# Nastavení služeb dále přístupných pomocí DI v rámci celé aplikace.
services:
	- App\CoreModule\Model\ArticleManager
	- App\CoreModule\Model\UserManager
	- App\CoreModule\Model\NewsManager
	authenticator: App\CoreModule\Model\AuthenticatorManager