{define title}Krok 3{/define}
{define description}Obrázky, které se zobrazí na navigací{/define}
{block content}
<h2>Obrázky záhlaví</h2>
<p>Jeden z těchto obrázků se bude náhodně zobrazovat v záhlaví každé stránky</p>
{control addHeaderImagesForm}