/*
    Created on : 9.10.2016, 10:46:23
    Author     : matyas
*/
@import "bootstrap";
@import "bootswatch_lumen";

footer{
  border-top: 1px solid $gray-light;
  margin-top: 15px;
  padding-top: 5px;
  text-align: center;
}

img{
  width: 1140px;
}
@media screen and (min-width: $grid-float-breakpoint){
  form input{
    width: 33% !important;
  }
}
