/* 
    Created on : 9.10.2016, 10:46:23
    Author     : matyas
*/
@import "bootstrap";

$color_background: white;
$color_background_html: rgb(245, 235, 215);
$color_background_navbar: rgb(190, 212, 223);
$color_background_navbar_hover: rgb(135, 160, 175);
$color_link: rgb(37, 92, 158);
$color_link_hover: rgb(23, 40, 130);

*{
  margin: 0;
  padding: 0;
}

html{
  background: $color_background;

}
body {
  margin: 0px auto;
  background: inherit;
}
ul{
  display: flex;
  flex-wrap: wrap;
  //padding: 3px 0;
  margin: 0;
  background: $color_background_navbar;
  li{
    list-style-type: none;
    width: 100%;
    a{
      display: block;
      padding: 4px 0px 4px 15px;
      color: $color_link;
      &:hover{
        text-decoration: none;
        color: $color_link_hover;
        background: $color_background_navbar_hover;
      }
    }
  }
}
br{
  height: 0;
}
section{
  padding: 0px 10px;
}
header{
  padding: 0px 10px;
}
footer{
  border-top: 1px solid #333333;
  margin: 15px 5px 0 5px;
  padding-top: 5px;
  text-align: center;
}
h1{
  margin: 10px auto;
  font-size: 2em;
}
.header_body{
  margin: 0 0;
  padding: 0;
  text-align: center;
  img{
    width: 100%;
  }
}
h2{
  font-size: 1.8em;
}
@media only screen and (min-width: 720px) and (max-width: 1079px){
  ul{
    flex-wrap: nowrap;
    li{
      width: auto;
      a{
        padding: 8px 12px;
      }
    }
  }
}

@media only screen and (min-width: 1080px)  {
  html{
    background: $color_background_html;
  }
  body{
    width: 1080px;
    background: $color_background;
  }

  ul{
    flex-wrap: nowrap;
    li{
      width: auto;
      a{
        padding: 5px 8px;
      }
    }
  }
  header.header_body{
    img{
      //width: auto;
    }
  }
}