{* Latte template *}
{define title}{$article->title}{/define}
{define description}{$article->description}{/define}
{block content}
{$article->content|noescape}
{if $isUserEditor && $article->title == 'Stránka nebyla nalezena'}

    <a n:href=":Admin:Article:editor $originalUrl" class="btn btn-success">Vytvořit stránku</a>

{/if}
